.header { 
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__logo {
        margin-top: 40px;
    }
    &__menu {
        list-style-type: none;
        &-item {
            margin-top: 37px;
            display:inline-block;
            margin-right: 40px;
        }
        &-link {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            text-align: center;
            text-decoration: none;
            color: $main-color;
        }
    }
    &__btn {
        margin-top: 33px;
        border: 1px solid $main-color;
        padding: 10px 30px; 
        width: 145px;
        height: 52px;
        box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 0.01em;
        padding: 10px;
        color: $main-color;
        cursor: pointer;  
    }
    &__title {
        max-width: 653px;
        margin: 85px auto;
        font-weight: 500;
        font-size: 80px;
        letter-spacing: 0em;
        text-align: center; 
        color:  #fff;  
    }
    &__subtitle {
        max-width: 815px;
        margin: 17px auto;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #fff; 
    }
    &__btn-blue {
        margin: 85px 35px 0 auto;
        padding: 10px 30px;
        width: 288px;
        height: 65px;
        border: none;
        box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
        background: #4452FE;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 0.01em;
        color: #fff;
        cursor: pointer;
    }
    &__buttons {
        display: flex;
    }
    &__btn-more {
        margin: 85px auto 0 0; 
        border: 1px solid $main-color;
        padding: 10px 30px;
        width: 210px;
        height: 65px;
        box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 0.01em;
        padding: 10px;
        color: $main-color;
        cursor: pointer;
    }
    &__bg {
        img {
            margin-top: 45px;
            width: 100%;
        }
    }
}